<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latin'd</h1>
    <p>Your Pig Latin'd Phrase is <%= @results %></p>
  </body>
</html>
